- content_for :page_header do
  %h1 Businesses, Hire Local Talent
  %p.lead TODO

%h2 Expectations for Businesses
%p Goal: participate, fund, cultivate communicators, grow a local talent pipeline, hire locally, learn about best practices from other companies.
%p Agree to the benefits, long term goals, support of allocating at least one dev 2 hrs/wk to pair.
%p Apprentice pay (~$30/wk).
%p Communicate quarterly feedback about the program to the coordinator (Yong).
%p Conduct mock interview of apprentice (at start / end).
%p Pay students monthly.
