%h1 Pair Programming Partnership

%h2 Expectations for Students

%p Reliability: punctuality
%p Accountability: asking questions, taking notes, digging into things on your own
%p Communication: communicating early
%p TODO
