%h2 Expectations for Coordinator / Institution
%p Goal: organize coordinate and manage, increase student retention, serve the community, graduate students with work experience, provide degree credit, make operations frictionless for participants, deliver excellence.
%p Setting expectations of both developer and apprentice.
%p Providing student with initial materials (notebook, forms, etc).
%p Being point of contact for issues, ideas.... problem solving and innovating.
%p Accompany apprentice on day 1 for introductions.
%p Provide end-of-quarter gifts to developers (keep folks flush with sincere appreciation).
%p Track the program, students, companies, outcomes, etc. Reporting.
%p Continue to build partnerships, demonstrate results, communicate the larger goal.

%h2 Expectations for Students
%p Work, learn, grow, gain experience, get a job.
%p Reliability: punctuality
%p Accountability: asking questions, taking notes, digging into things on your own
%p Communication: communicating early
%p Dress: professionalism
%p Engage in mock interview (at start / end).
%p Send hand-written "thank you".
%p Provide feedback to coordinator.
%p Invoice company monthly.

%h3 Student Packet
%p "Expectations" / learning contract to sign
%p Generic NDA
%p W9, I9, copy of passport or DL
%p Notebook for journaling. Notes from session, 1 paragraph reflection (today we...), action item / todo (something to learn / dig into)
%p -- need template for first page: date & location/mentor name, general notes ('cool stuff'), and one paragraph journal entry, "today we..." "I think that..." "I wonder if..." "Maybe I can..." AAAND mark number of hours. (Photo of examples?)
%p
  = link_to 'Invoice template', '/assets/ppp_invoice_template.doc'
  and
  = link_to 'Invoice example', '/assets/ppp_invoice_example.pdf'
  TODO: Need to have process. Send copy to coordinator (Yong) for tracking.

%h2 Expectations for developer mentors ("journey(wo)men")
%p Goal: level up, mentor, increase communication & leadership skills, learn about best practices from other companies, earn rewards.
%p Pairing model.
%p As much explanation / "talk aloud" as makes sense.
%p At least being able to answer, "What are you doing?"
%p Provide feedback via student and or coordinator (Yong) or online issue tracker.
%p Let the student drive when appropriate (eg. committing, pushing, deploying, closing issue, etc)
%p Consider delegating an investigative task between sessions (eg. what's the best library for doing x?)

%h2 Expectations for Businesses
%p Goal: participate, fund, cultivate communicators, grow a local talent pipeline, hire locally, learn about best practices from other companies.
%p Agree to the benefits, long term goals, support of allocating at least one dev 2 hrs/wk to pair.
%p Apprentice pay (~$30/wk).
%p Communicate quarterly feedback about the program to the coordinator (Yong).
%p Conduct mock interview of apprentice (at start / end).
%p Pay students monthly.

%h2 Calendar!

%h2 Misc Notes
%p Drug testing?

%h2 Barriers / Misc Notes
%p Paying students (sometimes)
%p Meaningful pairing experience (eg. two hours spent banging against a subtle/elusive bug)
%p Use "lower priority" projects as a vehicle for the pairing (eg cloud migrations, etc)

%h2 Research / links
%p https://www.tes.com/news/further-education/breaking-views/do-apprenticeships-have-a-bad-image
