%h1 Pair Programming Partnership

%h2 Expectations for Students

%p Reliability: punctuality
%p Accountability: asking questions, taking notes, digging into things on your own
%p Communication: communicating early
%p TODO

%h2 Student Packet

%p "Expectations" document to sign
%p Generic NDA
%p W9, I9, copy of passport or DL
%p Notebook for journaling. Notes from session, 1 paragraph reflection (today we...), action item / todo (something to learn / dig into)
%p Invoice template

