%h2 Schools, Empower Students
%p TODO

%h2 Expectations for Coordinator / Institution
%p Goal: organize coordinate and manage, increase student retention, serve the community, graduate students with work experience, provide degree credit, make operations frictionless for participants, deliver excellence.
%p Setting expectations of both developer and apprentice.
%p Providing student with initial materials (notebook, forms, etc).
%p Being point of contact for issues, ideas.... problem solving and innovating.
%p Accompany apprentice on day 1 for introductions.
%p Provide end-of-quarter gifts to developers (keep folks flush with sincere appreciation).
%p Track the program, students, companies, outcomes, etc. Reporting.
%p Continue to build partnerships, demonstrate results, communicate the larger goal.

%h2 Barriers / Misc Notes
%p Covering student pay when companies cannot (rare)
