- content_for :page_header do
  %h1 Students, Get Started
  %p.lead Jobs expect experience, but how do you get experience without a job?

%h2 Expectations for Students
%p Work, learn, grow, gain experience, get a job.
%p Reliability: punctuality
%p Accountability: asking questions, taking notes, digging into things on your own
%p Communication: communicating early
%p Appearance: hygiene, dress (professionalism)
%p Engage in mock interview (at start / end).
%p Send hand-written "thank you".
%p Provide feedback to coordinator.
%p Invoice company monthly.

%h3 Student Packet
%p "Expectations" / learning contract to sign
%p Generic NDA
%p W9, I9, copy of passport or DL
%p Notebook for journaling. Notes from session, 1 paragraph reflection (today we...), action item / todo (something to learn / dig into)
%p -- need template for first page: date & location/mentor name, general notes ('cool stuff'), and one paragraph journal entry, "today we..." "I think that..." "I wonder if..." "Maybe I can..." AAAND mark number of hours. (Photo of examples?)
%p
  = link_to 'Invoice template', '/assets/ppp_invoice_template.doc'
  and
  = link_to 'Invoice example', '/assets/ppp_invoice_example.pdf'
  TODO: Need to have process. Send copy to coordinator (Yong) for tracking.

%h2 Misc Notes
%p Possible drug testing for some companies.
